:root {
    --bg-overlay-color: rgba(47, 95, 70, 1);
    --primary-color: #F1C40F;
    --secondary-color: #2c3e50;
    --background-color: #f4f6f8;
    --background-main: rgba(243, 243, 235, 255);
    --text-color: #333;
    --hover-color: #3498db;
    --font-size-base: 20px;
    --font-title: 35px;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ==== General configuration ==== */
body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header */

/* Banner */

/* Main content */
.main-container {
    position: relative;
    z-index: 1;
    padding: 0 15px;
    width: auto;
    height: auto;
    background-color: var(--background-main);
}

.parallax-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-container h1 {
    padding: 200px 0 50px 0;
    text-align: center;
    font-family: var(--font-family);
    color: var(--primary-color);
    font-weight: bold;
}

/* Parallax content - 1 */
.parallax-section {
    position: relative;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-content h1 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 1.5;
    color: #FFF5CC;
    font-weight: 500;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
    margin: 0;
    padding-bottom: 140px;
}

/* ==== Image Backgrounds for Each Section ==== */
.experience-1 {
    background-image: url('../images/experience/experience-1.jpg');
}

.experience-2 {
    background-image: url('../images/experience/experience-2.jpg');
}

.experience-3 {
    background-image: url('../images/experience/experience-3.jpg');
}

.experience-4 {
    background-image: url('../images/experience/experience-4.jpg');
}

.experience-5 {
    background-image: url('../images/experience/experience-5.jpg');
}


.experience-content {
    margin: 0 auto;
    padding: 50px 20% 50px 20%;
}

.experience-content p {
    font-size: 24px;
    font-family: var(--font-family);
    line-height: 1.6;
}

/* Scroll to top */
.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--bg-overlay-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease;
    width: 60px;
    height: 60px;
    z-index: 10;
}

.scroll-to-top-btn:hover {
    background-color: var(--primary-color);
}


/* Modal content */
.image-modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.image-modal img.modal-content {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2001;
}

.close-btn:hover {
    color: var(--primary-color);
}

/* Responsive */
@media (max-width: 480px) {
    .experience-content {
        padding: 50px;
    }

    .experience-content p {
        font-size: 18px;
    }

    .parallax-content h1 {
        font-size: 20px;
    }
}